*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1rem = 10px */
html {
    font-size: 62.5%;
}   

body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background-color: #533188;  
    color: #fff7fb;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0;
}

h2{
    color: #9c7bb0;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    margin: 2rem 0;
}

.btn{
    border:none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.6rem;
    border-radius: 1rem;
    
}

header,
footer{
    background: #9c7bb0;
    color: #fff7fb;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    padding: 1rem 4rem;
}

.div-logo{
    margin-left: 2rem;
    font-weight: bold;
}

.logo, 
.header-nav a{
    text-decoration: none;
    color: inherit;
    font-size: 3rem;
    display: inline-block;
    padding: 2rem;
}

.header-nav{
    margin-right: 2rem;
}

.header-nav ul,
footer .footer-list{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.footer-list li{
    padding: 1rem;
}

.footer-list img{
    width: 5rem;
    padding: 0.5rem;
}


.bg-primary{
    background-color: #7d6d96;
}

.bg-secondary{
    background-color: #26ccb6;
}

.text.light{
    color: #fff7fb;
}

.text-dark{
    color: #3f3353;
}

.text-secondary{
    color: #9c7bb0;
}


/*        HOME              */

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inicio h1{
    width: 100%;
    text-align: center;
}

.parrafo{
    width: 80%;
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
}

.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card{
    background-color: #9c7bb0;
    width: 40rem;
    border-radius: 1rem;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.card img{
    width: 100%;
    height: 30%;
    object-fit: cover;
}

/*        CONTACTO              */

.contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-contacto{
    margin: 2rem 0;
    }

.form-contacto{
    background-color: #9c7bb0;
    color: #fff7fb;
    width: 100%;
    max-width: 50rem;

    font-size: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    
    align-items: center; 
    flex-direction: column;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.grupo-input{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.grupo-input input,
.grupo-input textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;

    color: #9e7fd1;
    background-color: #fff7fb;

    border: solid 2px #6e5a8e;
    border-radius: 0.8rem;

    outline: none;
    
}

.grupo-input textarea{
    resize: vertical;
    height: 10rem;
}